#form1  {
    background-color: #2574a9;
}
#votreid {
    background-color: #2574a9;
}
#Adr {
    width: 150px;
    height: 100px;
    resize: none;
}

#votreadrs {
    background-color: #9a12b3;
}

#form2 {
    background-color: #9a12b3;
}

#form3 {
    background-color: #db0a5b;
}

#vosinfos {
    background-color: #db0a5b;
}